extends layout.pug

block header 
    style.
        .form-control.is-invalid{
        background-image: none;
        }
        .form-control.is-valid{
        background-image: none;
        }


block content
    div(style='height: 300vh; background-color:#ebebeb')
        #collapseExample.collapse
            .card.bg-secondary.text-white.bg-gradient.bg-opacity-75
                .card-body
                    form.row.g-3.needs-validation(novalidate='' )
                        .mb-3
                            label.form-label(for='project_name') Project Name
                            input.form-control#project_name(type='text' name="username")
                            div.invalid-feedback Project Name should not start with a number. It should be greater than 3 and less than 10

                        .mb-3
                            label.form-label(for='formFile') Choose pdf for your questions!!
                            input#formFile.form-control(type='file')
                            .form-text(style="color:#971925;") Select a .pdf whose size is not greater than 50MB.

                        button.btn.btn-dark#submit.col-auto(type='submit' name='submit') Add New Project
        
        .row.justify-content-center.align-items-center.p-5
            .px-5.bg-light(style="border-radius: 15px;")
                table.table.table-borderless.caption-top
                    caption.display-3.py-4 Projects
                    thea
                        tr(style="border-bottom: 1px solid #ebebeb; border-collapse: collapse;")
                        th.p-3 Table Name
                        th.p-3 Status
                    tbody
                        - const projects = load_data
                        each project in projects
                            tr(style="border-bottom: 1px solid #ebebeb; border-collapse: collapse;")
                            td.p-3 #{project.project_name}
                            //- td.p-3
                            //-     span.badge.bg-primary.answer_badge(id=project.project_name data-bs-toggle='offcanvas' href='#offcanvasExample' role='button' aria-controls='offcanvasExample') Add
                            td.p-3 
                                if project.attempt == 0
                                    a.btn.badge.bg-primary(href='/dashboard/'+project.project_name+'/configurations') New 
                                else if project.attempt == 1
                                    a.btn.badge.bg-success(href='/dashboard/'+project.project_name+'/result') Result
                                else 
                                    a.btn.badge.bg-primary(href='/dashboard/'+project.project_name+'/configurations') Continue


block script
    script(src='../static/dashboard/script.js')
