extends layout.pug 

block header 
    style.
        .dropdown-menu {
            max-height: 280px;
            overflow-y: auto;
        }
block body

    div(style='height: 100vh;background-color:#ebebeb')
        ul.d-flex.nav.mx-4.p-3.pt-5#page-bar
            div.ms-auto.d-flex#start_btn
                //- span.display-6.mx-4#countdown(style="color:5ec490;") 
                button.btn.btn-dark.btn-lg.mx-4#result(type='button' onclick='clear_result()') Clear Results

        .bg-light.my-3.mx-5.p-3
            .row 
                .col-6
                    #adobe-dc-view(style='height: 360px; width: 500px;')
                .col-6
                    .row.option_box.align-items-center.mt-5
                            button.col-auto.btn.btn-light.mx-2.py-4.px-5.option(id='a' value='a' style="border: 1px dotted black") 
                                .display-6 A 
                            button.col-auto.btn.btn-light.mx-2.py-4.px-5.option(id='b' value='b' style="border: 1px dotted black") 
                                .display-6 B
                            button.col-auto.btn.btn-light.mx-2.py-4.px-5.option(id='c' value='c' style="border: 1px dotted black") 
                                .display-6 C
                            button.col-auto.btn.btn-light.mx-2.py-4.px-5.option(id='d' value='d' style="border: 1px dotted black") 
                                .display-6 D
                    .row.mt-5 
                        .col-auto.p-1 TOTAL MARKS:
                        .col-auto.p-1#score_marks  
                    .row
                        .col-auto.p-1 TOTAL CORRECT ANSWER:
                        .col-auto.p-1#score_correct_questions  


block script 
    script(src='https://documentcloud.adobe.com/view-sdk/viewer.js')
    script(src='/static/result/script.js')

            //- .row.row-cols-1.row-cols-md-3.g-4.p-5
            //-     .col.p-4
            //-         .card.h-100
            //-             .d-flex.justify-content-center
            //-                 .d-flex.justify-content-center.align-items-center.rounded-circle.m-4(style='width: 150px; height: 150px; border: 7px double #18c73e; color:#0a5e1c;')
            //-                     .display-6 8/10
            //-             .card-body
            //-                 h5.card-title Dt-12/01/2022
            //-                 p.card-text
            //-                     .btn.btn-secondary Full Report
            //-     .col.p-4
            //-         .card.h-100
            //-             .d-flex.justify-content-center
            //-                 .d-flex.justify-content-center.align-items-center.rounded-circle.m-4(style='width: 150px; height: 150px; border: 7px double #18c73e; color:#0a5e1c;')
            //-                     .display-6 5/10
            //-             .card-body
            //-                 h5.card-title Attempt 1
            //-                 p.card-text
            //-                 | This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.